
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.madre {
    background-color: #E3E3E3;
}
.contenedorIntranet {
  background-color: #E3E3E3;
  width: 600px;
  height: 90vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
}
.prueba {
  width: 50px;
  height: 50px;
  
}
.datos {
  height: 50px;
  font-size: 20px;
}
.logoIntranet {
  text-align: center ;
}
.contraseña {
  display: flex;
  justify-content: end;
}
.continuar:hover {
  background-color: rgb(214, 216, 214);
}
.caja1 {
  display: flex;
  justify-content: space-between;
}
.continuar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}
@media (max-width: 600px) {
  .datos {
    font-size: 12px !important;
  }
  .inputContraseña {
    font-size: 15px;
  }
  .introIntranet{
      font-size: 25px !important;
      font-weight: bold;
  }
  .subIntranet{
            font-size: 15px !important;

  }
  .continuar{
      font-size: 8px !important;
      
  }
  .iconoRedes{
      height: 20px !important;
  }
  .contenedorIntranet {
  width: 320px;
    

}
}