.madreMascotaUsuario{
    min-height: 90vh;
    margin-top: 10vh;
    padding:0 50px
}
.contenedorGeneral{
    margin-bottom: 30px;
}
contenedorHistorialUsuario{
    width: 90vh;
}
.nombreMascota{
    font-size: 30px;
    border-bottom: 5px solid red;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.contenidoMascota{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 30px;
}
.nombrePropietario{
    font-size: 20px;
    font-weight: bold;
}
.datosMascota{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 30px;
}
.contenedorImagen{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.fotoMascota{
    width: 300px;
    height: 300px;
    object-fit: cover;

}
.tablaHistorial{
    width: 100%;
}
.tablaHistorial th{
    background-color: #C4C8C8;
}
.tablaHistorial td,th{
    padding: 10px;
    text-align: center;
}
.barraBuscar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.btnAgregar a{
    background-color: #65E3E3;
    cursor: pointer;
}
.entradaTexto{
    padding-left: 10px;
}
.textoBuscar{
    position: relative;
    margin: 0;
}
.lupa{
    position: absolute;
    right: 10px;
    top: 30%;
    cursor: pointer;
}

.contenedorHistorialVeterinario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.camposHistorilaVeterinario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.datosHistoialVeterinario h5{
    font-size: 18px;
    font-weight: bold;

}
.datosHistoialVeterinario{
    padding: 30px;
    border: 2px solid black;
}
.registrarHistorial{
    padding: 10px;
    font-size: 18px;
    background-color: #65E3E3;
    cursor: pointer;
    width: 30%;
        
}